<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="headFragment">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>Title</title>
            <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script type="text/javascript" th:src="@{/js/login/login.js}"></script>
        </head>
        <link th:href="@{/css/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/bootstrap/js/bootstrap.min.js}" rel="stylesheet" />
    </th:block>
</html>