<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{/images/main/favicon.png}" rel="icon">
  <link th:href="@{/images/main/apple-touch-icon.png}" rel="apple-touch-icon">
  <link th:href="@{/fullcalendar-4.4.0/examples/daygrid-views.html}" rel="import">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <!-- <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" /> -->
  <link th:href="@{/css/main/vendor/bootstrap/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/main/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/css/main/vendor/boxicons/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/css/main/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/css/main/vendor/quill/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/css/main/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/css/main/vendor/simple-datatables/style.css}" rel="stylesheet">
  <!--<link th:href="@{/css/common/side.css}" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link th:href="@{/css/main/style.css}" rel="stylesheet">
  <!-- calendar Template -->
  
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">

 <!-- Calendar File -->
 <link th:href="@{/css/calendar/core/main.css}" rel="stylesheet">
 <link th:href="@{/css/calendar/daygrid/main.css}" rel="stylesheet">
 <link th:href="@{/css/calendar/list/main.css}" rel="stylesheet">
 
 <link th:href="@{/css/common/side.css}" rel="stylesheet">

 <script type="text/javascript" th:src="@{/js/calendar/core/main.js}"></script>
 <script type="text/javascript" th:src="@{/js/calendar/interaction/main.js}"></script>
 <script type="text/javascript" th:src="@{/js/calendar/daygrid/main.js}"></script>
 <script type="text/javascript" th:src="@{/js/calendar/list/main.js}"></script>
 <script type="text/javascript" th:src="@{/js/calendar/google-calendar/main.js}"></script>
 <script type="text/javascript" th:src="@{/js/common/side.js}"></script>

<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.4/jquery-ui.min.js"></script>

<script>

document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {

      plugins: [ 'interaction', 'dayGrid', 'list', 'googleCalendar' ],

      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,listYear'
      },

      displayEventTime: false, // don't show the time column in list view

      // THIS KEY WON'T WORK IN PRODUCTION!!!
      // To make your own Google API key, follow the directions here:
      // http://fullcalendar.io/docs/google_calendar/
      googleCalendarApiKey: 'AIzaSyDcnW6WejpTOCffshGDDb4neIrXVUA1EAE',

      // US Holidays
      events: 'en.usa#holiday@group.v.calendar.google.com',

      eventClick: function(arg) {
        // opens events in a popup window
        window.open(arg.event.url, 'google-calendar-event', 'width=700,height=600');

        arg.jsEvent.preventDefault() // don't navigate in main tab
      },

      loading: function(bool) {
        document.getElementById('loading').style.display =
          bool ? 'block' : 'none';
      }

    });

    calendar.render();
  });
  
</script>
<style>

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }

  #loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }

.club-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.club-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
}
  div.introduce {
  	width: 100%;
   	height: 235px;
   	border: 1px solid #000;
  }
  
  .clubImg {
  	max-width: 70%;
  	height: 60%;
  }
  div.left {
   	width: 40%;
   	height: auto;
	float: left;
	box-sizing: border-box;
	text-align: center;
  }
    
  div.right {
  	width: 60%;
	float: right;
	box-sizing: border-box;
	margin-top: 5%;
	margin-left: 5;
  }
  
</style>

</head>

<body>
  <!-- ======= Header ======= -->
	<th:block th:replace="common/header :: headFragment"></th:block>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  	<!--<div class="slide-div">
	</div>
	<div class="button-div div-close" onclick="div_click()">
	  <div class="button-open"></div>
	</div>-->
    <th:block th:replace="common/side :: sideFragment"></th:block>
  <!-- End Sidebar-->

  <main id="main" class="main">
    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">
          
          <!-- 동아리 소개 -->
          <div class="col-12">
              <div class="card overflow-auto">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>
			
            <div class="club-body">
              <h5 class="club-title">동아리 소개 </h5>
			  <div class="introduce">
        		<div class="left"><img class="clubImg" th:src="${club.file.filePth}" alt=""></div>
        		<div class="right">
        			<h4 th:text="${club.clubNm}"></h4>
                  	<textarea th:text="${club.introduce}" style="width:50%;text-align:5center;"></textarea>
                 </div>
    		  </div>
            </div>
            </div>
          </div>
          <!-- 동아리 소개 -->
         <!-- 일정관리 -->
       	<div>
         <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">일정관리 <span>| This Month</span></h5>
              <div id='loading'>loading...</div>
              <div id='calendar'></div>
            </div>
          </div><!-- End Budget Report -->
      </div>
       <!-- 일정관리 -->

          </div>
        </div>
        <!-- End Left side columns -->
        
        <!-- Right side columns -->
        <div class="row col-lg-4">
         <!-- 일정관리 -->
		  <div class="card">
		  	<div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>
            <div class="card-body">
                  <h5 class="card-title">채팅방 <span>| Today</span></h5>
              <div class="activity">
                <th:block th:replace="chat/chatRoom :: chatFragment"></th:block>
              </div>
            </div>
          </div>
          <!-- Recent Activity -->
          <div class="card">
            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <li class="dropdown-header text-start">
                  <h6>Filter</h6>
                </li>

                <li><a class="dropdown-item" href="#">Today</a></li>
                <li><a class="dropdown-item" href="#">This Month</a></li>
                <li><a class="dropdown-item" href="#">This Year</a></li>
              </ul>
            </div>

            <div class="card-body">
              <h5 class="card-title">동아리원 <span>| 4/5</span></h5>
              <div class="activity" th:each="clubInfoList : ${club.clubInfoList}">
                  <p><span th:text="${clubInfoList.member.memberNm}"></span></p>
              </div>

            </div>
          </div>
      </div>
       <!-- 동아리원 -->
      
    </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
    <th:block th:replace="common/footer :: footFragment"></th:block>  
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script type="text/javascript" th:src="@{/js/main/vendor/apexcharts/apexcharts.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/main/vendor/bootstrap/bootstrap.bundle.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/main/vendor/chart.js/chart.umd.js}"></script>
  <script type="text/javascript" th:src="@{/js/main/vendor/echarts/echarts.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/main/vendor/quill/quill.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/main/vendor/simple-datatables/simple-datatables.js}"></script>
  <script type="text/javascript" th:src="@{/js/main/vendor/tinymce/tinymce.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/main/vendor/php-email-form/validate.js}"></script>
  <!-- Template Main JS File -->
  <!--  <script type="text/javascript" th:src="@{/bootstrap/js/main.js}"></script>-->   
</body>

</html>